.external-css-dark-demo {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: 0.2s;
    padding: 100px 150px;
    border-radius: 5px;
}